<div class="game-container" sui-container>
  <form [formGroup]="formGroup" sui-form>
    <div suiFormField>
      <h1>{{ num1 }} + {{ num2 }}</h1>
      <h1>=</h1>
      <input
        formControlName="userAnswer"
        name="userAnswer"
        [value]="formGroup.value.userAnswer"
        sui-input
        type="number"
      />
    </div>
    <button sui-button (click)="checkAnswer()">Enter</button>
  </form>
  <div class="results">
    <h4>Correct attempts: {{ correctAttempts }}</h4>
    <h4>Incorrect attempts: {{ incorrectAttempts }}</h4>
  </div>
</div>
